@font-face {
    font-family: 'GTWalsheimBold'; /*this is what you put on your font family*/
    src: url('../fonts/gtwalsheimbold-webfont.woff'); /*Link to the font*/
    font-display: swap;
}

.email-countdown{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-countdown-title{
    margin-top: 20px !important;
    font-size: 50px;
    color: #0e4caa;
    font-family: 'GTWalsheimBold', 'sans-serif' !important;
}