<script type="text/javascript">
language = '{{ data.language }}';
</script>

<section id="banner-flaminhot" class="flaminhot">
    {# {{ drupal_view('carousel2', 'block_contest_header') }}    #}
</section>