<script type="text/javascript">
language = '{{ data.language }}';
</script>

<section id="banner-fritolay" class="fritolay">
    {# {{ drupal_view('carousel2', 'block_contest_header') }}    #}
</section>


    {#
	    <div class="products-items">


	      <div class="products-item product-align-left animate__animated ">
		        <div class="products-item-text">
		          <div class="products-item-text-title">
		            Frito-Lay® Variety Packs Flavour Mix
		          </div>
		        </div>

		        <div class="products-item-image">
		          <img src="https://via.placeholder.com/400x500" alt="Frito-Lay® Variety Packs Flavour Mix">
		        </div>
	      </div>


	      <div class="products-item product-align-right animate__animated ">

		        <div class="products-item-image">
		          <a target="_blank" rel="noopener noreferrer" href="#">
		            <img src="https://via.placeholder.com/400x500" alt="Frito-Lay® Variety Packs Lay’s® Mix">
		          </a>
		        </div>

		        <div class="products-item-text">
		          <div class="products-item-text-title">
		            <a target="_blank" rel="noopener noreferrer" href="#">
		              Frito-Lay® Variety Packs Lay’s® Mix </a>
		          </div>

		          <div class="products-item-text-link">
		            <a target="_blank" rel="noopener noreferrer" href="#">
		              View Product <span class="srt">(opens a new window)</span> </a>
		          </div>
		        </div>
	      </div>


	      <div class="products-item product-align-left animate__animated ">
	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            Frito-Lay® Variety Packs Classic Mix
	          </div>


	        </div>

	        <div class="products-item-image">
	          <img src="https://via.placeholder.com/400x500" alt="Frito-Lay® Variety Packs Classic Mix">
	        </div>
	      </div>


	      <div class="products-item product-align-right animate__animated ">

	        <div class="products-item-image">
	          <img src="https://via.placeholder.com/400x500" alt="Frito-Lay® Variety Packs Spicy Mix">
	        </div>

	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            Frito-Lay® Variety Packs Spicy Mix
	          </div>

	        </div>
	      </div>


	      <div class="products-item product-align-left animate__animated ">
	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            Frito-Lay® Variety Packs Smart Mix
	          </div>


	        </div>

	        <div class="products-item-image">
	          <img src="https://via.placeholder.com/400x500" alt="Frito-Lay® Variety Packs Smart Mix">
	        </div>
	      </div>


	      <div class="products-item product-align-right animate__animated ">

	        <div class="products-item-image">
	          <a target="_blank" rel="noopener noreferrer" href="#">
	            <img src="https://via.placeholder.com/400x500" alt="Doritos® Favourites">
	          </a>
	        </div>

	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              Doritos® Favourites </a>
	          </div>

	          <div class="products-item-text-link">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              View Product <span class="srt">(opens a new window)</span> </a>
	          </div>
	        </div>
	      </div>


	      <div class="products-item product-align-left animate__animated ">
	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              Smarfood® Favourites </a>

	          </div>

	          <div class="products-item-text-link">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              View Product <span class="srt">(opens a new window)</span> </a>
	          </div>

	        </div>

	        <div class="products-item-image">
	          <a target="_blank" rel="noopener noreferrer" href="#">
	            <img src="https://via.placeholder.com/400x500" alt="Smarfood® Favourites">
	          </a>
	        </div>
	      </div>


	      <div class="products-item product-align-right animate__animated ">

	        <div class="products-item-image">
	          <a target="_blank" rel="noopener noreferrer" href="#">
	            <img src="https://via.placeholder.com/400x500" alt="Miss Vickie’s® Favourites">
	          </a>
	        </div>

	        <div class="products-item-text">
	          <div class="products-item-text-title">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              Miss Vickie’s® Favourites </a>
	          </div>

	          <div class="products-item-text-link">
	            <a target="_blank" rel="noopener noreferrer" href="#">
	              View Product <span class="srt">(opens a new window)</span> </a>
	          </div>
	        </div>
	      </div>

	    </div>
    #}