
<div class="navbar-wrapper-tasty">
  {{ attach_library('brandstheme/quaker') }}
  {{ attach_library('brandstheme/socialfeed') }}
  {% include '@brandstheme/includes/header.html.twig' %}
  {% include '@brandstheme/includes/header-quaker.html.twig' %}
</div>


<section class="quaker-confirmation">
	TEST
  <h3>{{'Thank you for your submission'|t}}</h3>

  <img class="w-100 noMobile-md" src="/themes/brandstheme/src/images/quaker/quaker-about-us-banner-dsk.png" alt="Quaker About Us Banner">
  <img class="w-100 noDesktop-md" src="/themes/brandstheme/src/images/quaker/quaker-about-us-banner-mbl.png" alt="Quaker About Us Banner">

</section>
