<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="public, max-age=120">

    <title>Tasty Rewards | Coming Soon</title>
    <link rel="shortcut icon" href="/themes/tastytheme/src/comingsoon/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/themes/tastytheme/src/comingsoon/css/style.css">
    <!-- endinject -->

    <!-- Google Tag Manager -->

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TW8ZBJH');</script>

    <!-- End Google Tag Manager -->
</head>

<body style="margin-top: 0;">

<div class="maintenance__main-wrapper">
    <div class="maintenance__wrapper-en">
        <img class="header__logo" src="/themes/tastytheme/src/images/logo-en.png" alt="Logo of Tasty Rewards">
        <p class="maintenance__text-title">Oops!</p>
        <p class="maintenance__text-paragraph">Looks like our website is undergoing a pretty Tasty update. <br/> Come back soon to see what kind of awards we've got in store for you!</p>

    </div>

    <div class="maintenance__wrapper-fr">
        <img class="header__logo" src="/themes/tastytheme/src/images/logo-fr.png" alt="Logo of Tasty Rewards">
        <p class="maintenance__text-title">Oups!</p>
        <p class="maintenance__text-paragraph">Il semble que notre site Web fait l’objet d’une mise à jour plutôt alléchante. <br/> Revenez vite nous visiter afin de découvrir les récompenses que nous vous réservons!</p>

    </div>

    <footer>
        <div class="arrow-section-footer"></div>
        <div class="footer_row footer_row--top">

        </div>
    </footer>

</div>





</body>

</html>