<section class="nintendo-coming-soon-banner">
	<div class="nintendo-coming-soon-wrapper">
		<div class="nintendo-contest-rules-text-banner">
			<h1>{{'Frito-Lay<sup>TM</sup> Variety Packs Contest <br> Stay tuned: our latest contest is about to launch! <br><p>Come back on June 14!</p>'|t}}</h1>
		</div>

		<img class="nintendo-comingsoon-img" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-coming-soon.png" alt="fritolay product">
	</div>
	<div class="container nintendo-coming-soon-disclaimer">
		<p>{{'† No purchase necessary.  Open to Canadian residents, age of majority or older. Mathematical skill-testing question required.
				Contest Period: 12:00pm (noon) ET on 06/14/2021 to 11:59:59pm ET on 08/12/2021. Enter codes for a chance to win.
				Total of sixty (60) Nintendo Switch™ bundles available; one (1) prize awarded each day during the Contest Period (ARV $479.98 each).
				Prize includes one (1) Nintendo Switch™ system with choice of one (1) of 5 games (digital download; see Official Rules for game titles).
				Odds of winning depend on the number of eligible entries received for each draw during the Contest Period. Prizes diminish as awarded.
				Max 3 codes/day. Limit one (1) prize per person/household.
				Nintendo is not a sponsor, co-sponsor or administrator of the contest. Nintendo trademarks and copyrights are properties of Nintendo.'|t}}
		</p>
	</div>
</section>