<img src="/themes/tastytheme/src/images/information.png" alt="{{'information'|trans }}" />
<p>
    {{"We use your gender to provide the most relevant and inclusive content for our members. This question is optional if you prefer not to share this information with us."|t|raw}}
</p>