{#

block used on the Advertisement on Top

#}

<div id="topAd" onclick="promotionClickTracking(this);">
    <div class="desktopTopAd img-responsive" id="top-banner">{{ drupal_view('advertisement', 'page_leaderboard') }}</div>
</div>

<script type="text/javascript">

    // Track banners clicks
    function promotionClickTracking(element) {

        if(window.location.href.indexOf("www.tastyrewards.ca")!=-1){
            console.log("promotionClick start");

            var promoClickData = {};
            var send_flag = 1;

            var current_url = window.location.href;
            if(current_url.substring(current_url.length-8,current_url.length) == "/en/life"
                || current_url.substring(current_url.length-9,current_url.length) == "/en/life/"
                || current_url.substring(current_url.length-15,current_url.length) == "/fr/mode-de-vie"
                || current_url.substring(current_url.length-16,current_url.length) == "/fr/mode-de-vie/"){
                promotion_current_position = "life_promotion_RTP";
                coupon_current_position = "life_coupon_RTP";
            }else if(current_url.substring(current_url.length-11,current_url.length) == "/en/recipes"
                || current_url.substring(current_url.length-12,current_url.length) == "/en/recipes/"
                || current_url.substring(current_url.length-12,current_url.length) == "/fr/recettes"
                || current_url.substring(current_url.length-13,current_url.length) == "/fr/recettes/"){
                promotion_current_position = "recipes_promotion_RTP";
                coupon_current_position = "recipes_coupon_RTP";
            }else{
                promotion_current_position = "homepage_promotion";
                coupon_current_position = "homepage_coupon_RTP";
            }

            var promo_name = '';
            var promo_name_arr = new Array();

            if (element.id == "middle-banner"
                || element.id == "banniere-milieu"
                || element.id == "topAd"
                || element.id == "bottomAd"
            ){
                if(element.getElementsByTagName("iframe").length > 0){
                    if(element.id == "topAd"){
                        promo_name = document.getElementById("topAd_active_id").value;
                    }else if(element.id == "bottomAd"){
                        promo_name = document.getElementById("bottomAd_active_id").value;
                    }else{
                        promo_name = element.getElementsByTagName("iframe")[0].id;
                    }
                }else if(element.getElementsByTagName("a").length > 0){
                    promo_name = element.getElementsByTagName("a")[0].id;
                }else{
                    promo_name = "site_undefined";
                }
                promo_name_arr = promo_name.split('-');
                promoClickData.name = promo_name_arr[0];
                promoClickData.id = promo_name.replace(/ /g,"_");
                promoClickData.creative = "";

                var current_lang = document.getElementsByTagName('html')[0].getAttribute('lang');
                if(element.id == "topAd"){
                    if(current_lang == "en"){
                        promoClickData.position = 'top-banner_RTP';
                    }else{
                        promoClickData.position = 'banniere-haut_RTP';
                    }
                }else if(element.id == "bottomAd"){
                    if(current_lang == "en"){
                        promoClickData.position = 'bottom-banner_RTP';
                    }else{
                        promoClickData.position = 'banniere-bas_RTP';
                    }
                }else{
                    promoClickData.position = element.id;
                }
            }else if(element.id == "topPromotion" || element.id == "topSnacktivity"){
                if(element.getElementsByTagName("a").length > 0){
                    promo_name = element.getElementsByTagName("img")[0].alt;
                    promo_name_arr = promo_name.split('-');
                    promoClickData.name = promo_name_arr[0];
                    promoClickData.id = promo_name.replace(/ /g,"_");;
                    promoClickData.creative = "";

                    if(element.id == "topPromotion"){
                        promoClickData.position = promotion_current_position;
                    }else if(element.id == "topSnacktivity"){
                        promoClickData.position = "homepage_snacktivity";
                    }
                }else{
                    send_flag = 0;
                }


            }else if(jQuery(element).hasClass("homepage_carousel")){
                promo_name = element.alt;
                promo_name_arr = promo_name.split('-');
                promoClickData.name = promo_name_arr[0];
                promoClickData.id = promo_name.replace(/ /g,"_");;
                promoClickData.creative = "";
                promoClickData.position = "homepage_carousel_RTP";
            }else if(element.id == "coupons"){
                if(jQuery(element).hasClass("related_content_coupon")){
                    coupon_current_position = "related_content_coupon";
                }

                element_img = element.getElementsByTagName("img");
                if(element_img.length > 0){
                    if(jQuery(element_img[0]).hasClass("coupon_tracking")){
                        promo_name = element_img[0].alt;
                        promo_name_arr = promo_name.split('-');
                        promoClickData.name = promo_name_arr[0];
                        promoClickData.id = promo_name.replace(/ /g,"_");;
                        promoClickData.creative = "";
                        promoClickData.position = coupon_current_position;
                    }
                }
            }else if(jQuery(element).hasClass("btn-contest-tracking")){
                promo_name = element.title;
                promo_name_arr = promo_name.split('-');
                promoClickData.name = promo_name_arr[0];
                promoClickData.id = promo_name.replace(/ /g,"_");
                promoClickData.creative = "";
                promoClickData.position = "contest";
            }else if(jQuery(element).hasClass("related_featured_article_tracking")){
                element_hidden = element.getElementsByTagName("input");
                if(element_hidden.length > 0){
                    for(var i=0;i<element_hidden.length;i++) {
                        if (element_hidden[i].name == "hidden_brand_title") {
                            promo_name = element_hidden[i].value;
                            promo_name_arr = promo_name.split('-');
                            promoClickData.name = promo_name_arr[0];
                            promoClickData.id = promo_name.replace(/ /g,"_");;
                            promoClickData.creative = "";
                            promoClickData.position = "related_featured_article";
                        }
                    }
                }
            }else if(jQuery(element).hasClass("related_featured_recipe_tracking")){
                element_hidden = element.getElementsByTagName("input");
                if(element_hidden.length > 0){
                    for(var i=0;i<element_hidden.length;i++) {
                        if (element_hidden[i].name == "hidden_brand_title") {
                            promo_name = element_hidden[i].value;
                            promo_name_arr = promo_name.split('-');
                            promoClickData.name = promo_name_arr[0];
                            promoClickData.id = promo_name.replace(/ /g,"_");
                            if(promoClickData.name == ""){
                                promoClickData.name = "Tastyrewards";
                                promoClickData.id = "Tastyrewards"+promoClickData.id;
                            }
                            promoClickData.creative = "";
                            promoClickData.position = "related_featured_recipe";
                        }
                    }
                }
            }else if(jQuery(element).hasClass("related_article_tracking")){
                element_hidden = element.getElementsByTagName("input");
                if(element_hidden.length > 0){
                    for(var i=0;i<element_hidden.length;i++) {
                        if (element_hidden[i].name == "hidden_brand_title") {
                            promo_name = element_hidden[i].value;
                            promo_name_arr = promo_name.split('-');
                            promoClickData.name = promo_name_arr[0];
                            promoClickData.id = promo_name.replace(/ /g,"_");;
                            promoClickData.creative = "";
                            promoClickData.position = "related_article";
                        }
                    }
                }
            }else if(jQuery(element).hasClass("related_recipe_tracking")){
                element_hidden = element.getElementsByTagName("input");
                if(element_hidden.length > 0){
                    for(var i=0;i<element_hidden.length;i++) {
                        if (element_hidden[i].name == "hidden_brand_title") {
                            promo_name = element_hidden[i].value;
                            promo_name_arr = promo_name.split('-');
                            promoClickData.name = promo_name_arr[0];
                            promoClickData.id = promo_name.replace(/ /g,"_");
                            if(promoClickData.name == ""){
                                promoClickData.name = "Tastyrewards";
                                promoClickData.id = "Tastyrewards"+promoClickData.id;
                            }
                            promoClickData.creative = "";
                            promoClickData.position = "related_recipe";
                        }
                    }
                }
            }




            if(send_flag){
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                    'event': 'promotionClick',
                    'ecommerce': {
                        'promoClick': {
                            'promotions': [promoClickData]
                        }
                    }
                });

                console.log('promotionClick is sent');
                console.log(promoClickData);
            }
        }

    }
</script>
