{#

block used on the Advertisement at the bottom

#}
<br>
<div id="bottomAd" onclick="promotionClickTracking(this);">
    <div class="desktopBottomAd img-responsive" id="bottom-banner">{{ drupal_view('advertisement', 'page_leaderboard') }} </div>
</div>

<br />































