
 

<section id="brands">
                <!-- BRANDS -->
                <h1 class="text-center pink uppercase signika">{{"Brands"|t}}</h1>
                <div class="brandsWrapper">
                    <div class="brandsContainer">
                        <div class="brandsScroll">
                            {{ drupal_view('brands', 'page_1') }}
                        </div>
                    </div>

                            <!-- Controls -->
                              <a class="left carousel-control pink">
                                <span id="left_brand" class="icon-prev pink"></span>
                              </a>
                              <a class="right carousel-control pink">
                                <span id="right_brand" class="icon-next pink"></span>
                              </a>

                        </div>
        </section>