{% set tracking_enabled = false %}

{% if tracking_enabled %}

{% if trackingpage == "register-processed" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Thank You Page ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/thank-you
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00-;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00-;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Thank You Page FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/merci
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00a;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00a;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "unsubscribe-processed" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Newsletter Unsubscribe confirmation ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/unsubscribe-confirmation
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00v;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00v;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Newsletter Unsubscribe confirmation FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/unsubscribe-confirmation
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00w;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00w;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "contest" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Contest landing page ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/contests
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00b;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00b;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Contest landing page FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/concours
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00c;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00c;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "coupon" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Coupons Landing ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/coupons
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00j;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00j;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Coupons Landing FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/coupons
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00k;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00k;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "homepage" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Landing page ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Landing page FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "article-content" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Life Content Pages ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/life-articles/(name of article)
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Life Content Pages FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/articles-mode-de-vie/(name of article)
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}
{% if trackingpage == "articles" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Life Landing ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/life
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Life Landing page FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/mode-de-vie
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty001;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty001;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}

{% if trackingpage == "myaccount" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - My Account - ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/my-account
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00l;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00l;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - My Account - FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/mon-compte
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00m;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00m;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}


{% if trackingpage == "unsubscribe" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Newsletter Unsubscribe ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/unsubscribe
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00t;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00t;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Newsletter Unsubscribe FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/unsubscribe
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00u;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00u;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}


{% if trackingpage == "recipe-content" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Recipe Content Pages ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/recipe/(name of the recipe)
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty006;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty006;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Recipe Content Pages FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/recette/(name of the recipe)
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty007;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty007;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}


{% if trackingpage == "recipes" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Recipes Landing ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/recipes
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty004;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty004;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Recipes Landing FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/recettes
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty005;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty005;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}


{% if trackingpage == "search" %}
    {% if trackinglang == "en" %}
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Search - ENG
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/search
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00n;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00n;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tasty Rewards - Search - FR
URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/recherche
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/16/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00o;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty00o;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}


{% if trackingpage == "registration" %}
    {% if trackinglang == "en" %}
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Tasty Rewards - Sign up ENG
    URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/en/subscribe
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 08/16/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty008;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty008;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% else %}

    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Tasty Rewards - Sign up FR
    URL of the webpage where the tag is expected to be placed: http://www.tastyrewards.ca/fr/subscribe
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 08/16/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty009;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://2614879.fls.doubleclick.net/activityi;src=2614879;type=tasty216;cat=tasty009;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->


    {% endif %}
{% endif %}

{% endif %}  {# end tracking enabled #}