



    <div class="boxinside grid">
        <div>
                <h1 class="pink signika">{{"Search"|t}}</h1>
                <hr class="bg-pink">
                <p>{{"Sorry, no results were found."|t}}</p>
                <a class="btn btn-primary" href="{{path("view.search_content.page_1")}}">{{"Reset"|t}}</a>
                <br /><br />
        </div>
    </div>
