{# <link rel="stylesheet" type="text/css" href="/themes/tastytheme/src/css/style-email-countdown.css"> #}



<div class="email-countdown">
	<img src="{{ image_url }}"/>

	<div class="email-countdown-title">{{title | raw}}</div>
</div>